@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-jetbrains-mono), monospace;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background-color: #023047;
    --accent-color: #8ECAE6;
    --secondary-color: #FFB703;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}
